/* ---------------- *
     Design Tokens
 * ---------------- */
:root {
    /* Spacings */
    --spacing_xl: 1.5rem;
    --spacing_l: 1rem;
    --spacing_m: 0.75rem;
    --spacing_sm: 0.5rem;
    --spacing_s: 0.25rem;
    --spacing_neg_xl: -1.5rem;
    --spacing_neg_l: -1rem;
    --spacing_neg_m: -0.75rem;
    --spacing_neg_sm: -0.5rem;
    --spacing_neg_s: -0.25rem;

    /* Texts */
    --h1_size: 1.75rem;
    --h2_size: 1.5rem;
    --h3_size: 1.25rem;
    --info_size: 1rem;

    /* Borders */
    --border_width_m: 0.125rem;
    --border_width_s: 0.065rem;
    --border_style: solid;

    /* Interactions */
    --transition: ease-in;
    --transition_fast: 0.25s;
    --transition_slow: 0.5s;
    --radius_hover: 0.5rem;
    --opacity_hover: 0.5;
    --transform_x_hover: 1.5rem;
}

[data-theme="light"] {
    /* Color Palette - Light */
    --blue_bg: #bbb9ff;
    --red_bg: #fdafb3;
    --green_bg: #bcf7d7;
    --purple_bg: #f7d8f8;
    --blue_txt: #222066;
    --red_txt: #64161a;
    --green_txt: #235e3e;
    --purple_txt: #5e3f5f;
    --default_bg: #171717;
    --default_txt: #f3f1ee;
    --default_fade_bg: rgba(23, 23, 23, 0.1);
    --default_fade_low_bg: rgba(23, 23, 23, 0.05);
}

[data-theme="dark"] {
    /* Color Palette - Dark */
    --blue_bg: #1e1e65;
    --red_bg: #661d1d;
    --green_bg: #1e5a39;
    --purple_bg: #664a63;
    --blue_txt: #b7b7fe;
    --red_txt: #ffb6b6;
    --green_txt: #b7f3d2;
    --purple_txt: #ffe3fc;
    --default_bg: #f3f1ee;
    --default_txt: #171717;
    --default_fade_bg: rgba(243, 241, 238, 0.1);
    --default_fade_low_bg: rgba(243, 241, 238, 0.05);
}

/* ---------------- *
        Styles
 * ---------------- */
.block {
    margin-bottom: var(--spacing_m);
    box-sizing: content-box;
    position: relative;
    display: flex;
    flex-grow: 1;
    min-width: 45%; /* meh */
    flex-direction: column;
    gap: var(--spacing_m);
    padding: var(--spacing_m);
    border: solid var(--border_width_m) var(--default_bg);
}

.block:hover .type {
    top: var(--spacing_neg_l);
}

.type {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: var(--spacing_neg_m);
    right: var(--spacing_neg_m);
    transition: top var(--transition_fast) var(--transition);
    padding: var(--spacing_m);
    background: var(--default_bg);
    color: var(--default_txt);
    span {
        font-size: var(--h2_size);
        font-weight: 600;
    }
}

/* Header styles */
.blockHeader {
    display: flex;
    flex-direction: column;
}

/* Body styles */
.blockBody {
    display: flex;
    width: 100%;
    gap: var(--spacing_m);
}

.subBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing_s);
    padding: var(--spacing_sm);
    background: var(--default_fade_low_bg);
    border: solid var(--border_width_s) transparent;
    transition: all var(--transition_fast) var(--transition);

    & a {
        text-decoration: none;
        opacity: 0.75;
        margin-left: var(--spacing_m);
        color: inherit;
        transition: all var(--transition_fast) var(--transition);
        &:hover {
            margin-left: var(--spacing_l);
            opacity: 1;
            color: var(--default_bg);
        }
    }

    &:hover {
        border-color: var(--default_bg);

        & h3 {
            color: var(--default_bg);
        }
    }
}

.bodyRight {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_m);
    width: 100%;
}

/* Footer styles */
.blockFooter {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.docker {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: var(--spacing_m);
}

.dockerItems {
    display: flex;
    justify-content: start;
    gap: var(--spacing_m);
}

.dockerItem {
    background: var(--default_txt);
    border: solid var(--border_width_s) var(--default_bg);
    padding: var(--spacing_s) var(--spacing_m);
    transition: opacity var(--transition_fast) var(--transition);
    color: var(--default_bg);
    opacity: 0.75;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}

.copiedText {
    font-size: var(--info_size);
    margin-left: var(--spacing_sm);
    opacity: 0.5;
}

/* Toggle switch styling */
.toggleSwitch {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: var(--spacing_m);
}

.toggleLabel {
    font-size: var(--info_size);
}

.toggleContainer {
    position: relative;
    display: inline-block;
    width: 3.5rem;
    height: 1.5rem;
}

.toggleContainer input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggleSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--default_bg);
    opacity: 0.5;
    transition: var(--transition_fast) var(--transition);
    border-radius: 1rem;
}

.toggleSlider:before {
    position: absolute;
    content: "";
    height: var(--spacing_l);
    width: var(--spacing_l);
    left: var(--spacing_s);
    bottom: var(--spacing_s);
    background-color: var(--default_txt);
    transition: all var(--transition_fast) var(--transition);
    border-radius: 50%;
}

.toggleContainer input:checked + .toggleSlider {
    background-color: var(--default_bg);
}

.toggleContainer input:checked + .toggleSlider:before {
    transform: translateX(2rem);
}

/* ---------------- *
    Specificities
 * ---------------- */
.alpha,
.beta {
    background: var(--blue_bg);
    color: var(--blue_txt);
}
.shortterm,
.longterm {
    background: var(--purple_bg);
    color: var(--purple_txt);
}
.active {
    background: var(--green_bg);
    color: var(--green_txt);
}
.expired {
    background: var(--red_bg);
    color: var(--red_txt);
}

/* ---------------- *
   SCROLL BEHAVIORS
 * ---------------- */
.backToTopButton {
    position: absolute;
    bottom: 0;
    right: -2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    opacity: 0.5;
    transition: all var(--transition_fast) var(--transition);
}

.backToTopButton:hover {
    opacity: 1;
    padding-bottom: 0.25rem;
}
