:root {
  --ifm-color-primary: #4b4cfc;
  --ifm-color-primary-dark: #020260;
  --ifm-color-primary-darker: #010120;
  --ifm-color-primary-darkest: #000000;
  --ifm-color-primary-light: #6b6cfd;
  --ifm-color-primary-lighter: #7b7cfd;
  --ifm-color-primary-lightest: #abacfe;
  --ifm-background-color: #f3f1ee;
  --ifm-container-width-xxl: 2300px;
  /* Mermaid colors rect (light theme) */
  --mermaid-rect-blue-200: #DDDCFF;
  --mermaid-rect-blue-300: #BBB9FF;
  --mermaid-rect-green-200: #DEFBEB;
}

[data-theme='dark'] {
  --ifm-color-primary: #ffb23e;
  --ifm-color-primary-dark: #ffa51e;
  --ifm-color-primary-darker: #ff9f0e;
  --ifm-color-primary-darkest: #de8500;
  --ifm-color-primary-light: #ffbf5e;
  --ifm-color-primary-lighter: #ffc56e;
  --ifm-color-primary-lightest: #ffd89d;
  --ifm-background-color: #171717;
  /* Mermaid colors rect (dark theme) */
  --mermaid-rect-blue-200: #0F0F32;
  --mermaid-rect-blue-300: #1E1E65;
  --mermaid-rect-green-200: #0F2D1D;
}

[data-theme='light'] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}
/* Mermaid: rect use fill (SVG),colors from variables */
.docusaurus-mermaid-container rect.rect[fill="mermaid-rect-blue-200"] {
  fill: var(--mermaid-rect-blue-200) !important;
}
.docusaurus-mermaid-container rect.rect[fill="mermaid-rect-blue-300"] {
  fill: var(--mermaid-rect-blue-300) !important;
}
.docusaurus-mermaid-container rect.rect[fill="mermaid-rect-green-200"] {
  fill: var(--mermaid-rect-green-200) !important;
}
.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
  transition: background-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.header-npm-link::before {
  content: '';
  width: 33px;
  height: 24px;
  display: flex;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url("data:image/svg+xml,%3Csvg width='33' height='24' viewBox='0 0 33 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.666992 18.1593H9.55588V20H16.667V18.1593H32.667V7H0.666992V18.1593ZM9.55588 16.3186H7.7781V10.6814H6.00033V16.3186H2.44477V8.84071H9.55588V16.3186ZM18.4448 16.3186H14.8892V18.1593H11.3337V8.84071H18.4448V16.3186ZM30.8892 16.3186H29.1114V10.6814H27.3337V16.3186H25.5559V10.6814H23.7781V16.3186H20.2225V8.84071H30.8892V16.3186Z' fill='black'/%3E%3Cpath d='M14.9114 12.5451L14.9448 14.4204H16.6114L16.6448 12.5451L16.667 10.6814H14.8892L14.9114 12.5451Z' fill='black'/%3E%3C/svg%3E%0A");
  transition: background-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.header-npm-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color);
}

.header-github-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color);
}

.hidden {
  display: none !important
}

/* Cheating to make the blocks still referenced in right panel... */
.ghost-md-anchor { opacity: 0; }

/* Placing blocks per group of 2 */
.platform-row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.platform-block {
  display:flex;
  flex-direction: column;
  width: 50%;
  flex: 1;
}

@media (min-width: 2000px) {
  .container {
    max-width: var(--ifm-container-width-xxl);
  }
}

.header-deepwiki-link::before {
  content: '';
  width: 22px;
  height: 24px;
  display: flex;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url("data:image/svg+xml,%3Csvg%20class%3D%22mb-6%20h-12%20w-12%20%5B%26amp%3B_path%5D%3Astroke-0%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22110%20110%20460%20500%22%3E%3Cpath%20style%3D%22fill%3A%20rgb(33%2C%20193%2C%20154)%3B%22%20class%3D%22%22%20d%3D%22M418.73%2C332.37c9.84-5.68%2C22.07-5.68%2C31.91%2C0l25.49%2C14.71c.82.48%2C1.69.8%2C2.58%2C1.06.19.06.37.11.55.16.87.21%2C1.76.34%2C2.65.35.04%2C0%2C.08.02.13.02.1%2C0%2C.19-.03.29-.04.83-.02%2C1.64-.13%2C2.45-.32.14-.03.28-.05.42-.09.87-.24%2C1.7-.59%2C2.5-1.03.08-.04.17-.06.25-.1l50.97-29.43c3.65-2.11%2C5.9-6.01%2C5.9-10.22v-58.86c0-4.22-2.25-8.11-5.9-10.22l-50.97-29.43c-3.65-2.11-8.15-2.11-11.81%2C0l-50.97%2C29.43c-.08.04-.13.11-.2.16-.78.48-1.51%2C1.02-2.15%2C1.66-.1.1-.18.21-.28.31-.57.6-1.08%2C1.26-1.51%2C1.97-.07.12-.15.22-.22.34-.44.77-.77%2C1.6-1.03%2C2.47-.05.19-.1.37-.14.56-.22.89-.37%2C1.81-.37%2C2.76v29.43c0%2C11.36-6.11%2C21.95-15.95%2C27.63-9.84%2C5.68-22.06%2C5.68-31.91%2C0l-25.49-14.71c-.82-.48-1.69-.8-2.57-1.06-.19-.06-.37-.11-.56-.16-.88-.21-1.76-.34-2.65-.34-.13%2C0-.26.02-.4.02-.84.02-1.66.13-2.47.32-.13.03-.27.05-.4.09-.87.24-1.71.6-2.51%2C1.04-.08.04-.16.06-.24.1l-50.97%2C29.43c-3.65%2C2.11-5.9%2C6.01-5.9%2C10.22v58.86c0%2C4.22%2C2.25%2C8.11%2C5.9%2C10.22l50.97%2C29.43c.08.04.17.06.24.1.8.44%2C1.64.79%2C2.5%2C1.03.14.04.28.06.42.09.81.19%2C1.62.3%2C2.45.32.1%2C0%2C.19.04.29.04.04%2C0%2C.08-.02.13-.02.89%2C0%2C1.77-.13%2C2.65-.35.19-.04.37-.1.56-.16.88-.26%2C1.75-.59%2C2.58-1.06l25.49-14.71c9.84-5.68%2C22.06-5.68%2C31.91%2C0%2C9.84%2C5.68%2C15.95%2C16.27%2C15.95%2C27.63v29.43c0%2C.95.15%2C1.87.37%2C2.76.05.19.09.37.14.56.25.86.59%2C1.69%2C1.03%2C2.47.07.12.15.22.22.34.43.71.94%2C1.37%2C1.51%2C1.97.1.1.18.21.28.31.65.63%2C1.37%2C1.18%2C2.15%2C1.66.07.04.13.11.2.16l50.97%2C29.43c1.83%2C1.05%2C3.86%2C1.58%2C5.9%2C1.58s4.08-.53%2C5.9-1.58l50.97-29.43c3.65-2.11%2C5.9-6.01%2C5.9-10.22v-58.86c0-4.22-2.25-8.11-5.9-10.22l-50.97-29.43c-.08-.04-.16-.06-.24-.1-.8-.44-1.64-.8-2.51-1.04-.13-.04-.26-.05-.39-.09-.82-.2-1.65-.31-2.49-.33-.13%2C0-.25-.02-.38-.02-.89%2C0-1.78.13-2.66.35-.18.04-.36.1-.54.15-.88.26-1.75.59-2.58%2C1.07l-25.49%2C14.72c-9.84%2C5.68-22.07%2C5.68-31.9%2C0-9.84-5.68-15.95-16.27-15.95-27.63s6.11-21.95%2C15.95-27.63Z%22%3E%3C%2Fpath%3E%3Cpath%20style%3D%22fill%3A%20rgb(57%2C%20105%2C%20202)%3B%22%20d%3D%22M141.09%2C317.65l50.97%2C29.43c1.83%2C1.05%2C3.86%2C1.58%2C5.9%2C1.58s4.08-.53%2C5.9-1.58l50.97-29.43c.08-.04.13-.11.2-.16.78-.48%2C1.51-1.02%2C2.15-1.66.1-.1.18-.21.28-.31.57-.6%2C1.08-1.26%2C1.51-1.97.07-.12.15-.22.22-.34.44-.77.77-1.6%2C1.03-2.47.05-.19.1-.37.14-.56.22-.89.37-1.81.37-2.76v-29.43c0-11.36%2C6.11-21.95%2C15.96-27.63s22.06-5.68%2C31.91%2C0l25.49%2C14.71c.82.48%2C1.69.8%2C2.57%2C1.06.19.06.37.11.56.16.87.21%2C1.76.34%2C2.64.35.04%2C0%2C.09.02.13.02.1%2C0%2C.19-.04.29-.04.83-.02%2C1.65-.13%2C2.45-.32.14-.03.28-.05.41-.09.87-.24%2C1.71-.6%2C2.51-1.04.08-.04.16-.06.24-.1l50.97-29.43c3.65-2.11%2C5.9-6.01%2C5.9-10.22v-58.86c0-4.22-2.25-8.11-5.9-10.22l-50.97-29.43c-3.65-2.11-8.15-2.11-11.81%2C0l-50.97%2C29.43c-.08.04-.13.11-.2.16-.78.48-1.51%2C1.02-2.15%2C1.66-.1.1-.18.21-.28.31-.57.6-1.08%2C1.26-1.51%2C1.97-.07.12-.15.22-.22.34-.44.77-.77%2C1.6-1.03%2C2.47-.05.19-.1.37-.14.56-.22.89-.37%2C1.81-.37%2C2.76v29.43c0%2C11.36-6.11%2C21.95-15.95%2C27.63-9.84%2C5.68-22.07%2C5.68-31.91%2C0l-25.49-14.71c-.82-.48-1.69-.8-2.58-1.06-.19-.06-.37-.11-.55-.16-.88-.21-1.76-.34-2.65-.35-.13%2C0-.26.02-.4.02-.83.02-1.66.13-2.47.32-.13.03-.27.05-.4.09-.87.24-1.71.6-2.51%2C1.04-.08.04-.16.06-.24.1l-50.97%2C29.43c-3.65%2C2.11-5.9%2C6.01-5.9%2C10.22v58.86c0%2C4.22%2C2.25%2C8.11%2C5.9%2C10.22Z%22%3E%3C%2Fpath%3E%3Cpath%20style%3D%22fill%3A%20rgb(2%2C%20148%2C%20222)%3B%22%20class%3D%22%22%20d%3D%22M396.88%2C484.35l-50.97-29.43c-.08-.04-.17-.06-.24-.1-.8-.44-1.64-.79-2.51-1.03-.14-.04-.27-.06-.41-.09-.81-.19-1.64-.3-2.47-.32-.13%2C0-.26-.02-.39-.02-.89%2C0-1.78.13-2.66.35-.18.04-.36.1-.54.15-.88.26-1.76.59-2.58%2C1.07l-25.49%2C14.72c-9.84%2C5.68-22.06%2C5.68-31.9%2C0-9.84-5.68-15.96-16.27-15.96-27.63v-29.43c0-.95-.15-1.87-.37-2.76-.05-.19-.09-.37-.14-.56-.25-.86-.59-1.69-1.03-2.47-.07-.12-.15-.22-.22-.34-.43-.71-.94-1.37-1.51-1.97-.1-.1-.18-.21-.28-.31-.65-.63-1.37-1.18-2.15-1.66-.07-.04-.13-.11-.2-.16l-50.97-29.43c-3.65-2.11-8.15-2.11-11.81%2C0l-50.97%2C29.43c-3.65%2C2.11-5.9%2C6.01-5.9%2C10.22v58.86c0%2C4.22%2C2.25%2C8.11%2C5.9%2C10.22l50.97%2C29.43c.08.04.17.06.25.1.8.44%2C1.63.79%2C2.5%2C1.03.14.04.29.06.43.09.8.19%2C1.61.3%2C2.43.32.1%2C0%2C.2.04.3.04.04%2C0%2C.09-.02.13-.02.88%2C0%2C1.77-.13%2C2.64-.34.19-.04.37-.1.56-.16.88-.26%2C1.75-.59%2C2.57-1.06l25.49-14.71c9.84-5.68%2C22.06-5.68%2C31.91%2C0%2C9.84%2C5.68%2C15.95%2C16.27%2C15.95%2C27.63v29.43c0%2C.95.15%2C1.87.37%2C2.76.05.19.09.37.14.56.25.86.59%2C1.69%2C1.03%2C2.47.07.12.15.22.22.34.43.71.94%2C1.37%2C1.51%2C1.97.1.1.18.21.28.31.65.63%2C1.37%2C1.18%2C2.15%2C1.66.07.04.13.11.2.16l50.97%2C29.43c1.83%2C1.05%2C3.86%2C1.58%2C5.9%2C1.58s4.08-.53%2C5.9-1.58l50.97-29.43c3.65-2.11%2C5.9-6.01%2C5.9-10.22v-58.86c0-4.22-2.25-8.11-5.9-10.22Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.header-deepwiki-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color);
}
