:root {
  --ifm-color-primary: #4b4cfc;
  --ifm-color-primary-dark: #020260;
  --ifm-color-primary-darker: #010120;
  --ifm-color-primary-darkest: #000000;
  --ifm-color-primary-light: #6b6cfd;
  --ifm-color-primary-lighter: #7b7cfd;
  --ifm-color-primary-lightest: #abacfe;
  --ifm-background-color: #f3f1ee;
}

[data-theme='dark'] {
  --ifm-color-primary: #ffb23e;
  --ifm-color-primary-dark: #ffa51e;
  --ifm-color-primary-darker: #ff9f0e;
  --ifm-color-primary-darkest: #de8500;
  --ifm-color-primary-light: #ffbf5e;
  --ifm-color-primary-lighter: #ffc56e;
  --ifm-color-primary-lightest: #ffd89d;
  --ifm-background-color: #171717;
}

[data-theme='light'] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}

.hidden {
  display: none !important
}